<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="twitter_bot2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <twitter_bot2.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelektierteSprache" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="max_tweets_per_hour" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="tweets_wait_timeout" serializeAs="String">
                <value>360000</value>
            </setting>
            <setting name="db_tweet_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tweet_timeout" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="strTweetMessage" serializeAs="String">
                <value/>
            </setting>
            <setting name="strDomain" serializeAs="String">
                <value/>
            </setting>
            <setting name="datenbank_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="datenbank_datenbank" serializeAs="String">
                <value/>
            </setting>
            <setting name="datenbank_benutzer" serializeAs="String">
                <value/>
            </setting>
            <setting name="datenbank_pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="kShop" serializeAs="String">
                <value>0</value>
            </setting>
        </twitter_bot2.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
